// -------------------------------------
//   Nav
//   -> 導覽
// -------------------------------------

nav.main-menu,
html:lang(zh) nav.main-menu,
html:lang(jp) nav.main-menu {

	@include user-select(none);
	@include z-index(nav);

	li {
		list-style: none;
	}

	li, a {
		display: block;
		@include ellipsis;
	}

	.copyright {
		display: none;
	}

	// ----- Only on Phone ----- //
	@media (max-width: $tablet-min-width) {
		display: inline-block;
		position: absolute;
		margin-bottom: 16px;
		// background-color: $black;
		overflow: hidden;
		// max-width: $mobile-logo-height;
		// max-height: $mobile-logo-height;
		@include transition-duration(0);
		@include transition-delay(.8s);

		a {
			pointer-events: none;
		}

		.a {
			display: block;
			position: absolute;
			@include z-index(shadow);
			width: $mobile-logo-height;
			height: 100%;
			background-color: $black;
			@include transform(scaleY(.1));
			@include transform-origin(left, top);
			@include transition-property(all);
			@include transition-duration(.5s);
			@include transition-delay(.3s);

			body.nav-open & {
				@include transform(scaleY(1));
				@include transition-delay(0);
			}
		}

		.b {
			display: block;
			position: absolute;
			@include z-index(shadow);
			width: 100%;
			height: 100%;
			background-color: $black;
			@include transform(scaleX(.1));
			opacity: 0;
			@include transform-origin(left, top);
			transition-property: transform;
			-o-transition-property: -o-transform, opacity;
			-ms-transition-property: -ms-transform, opacity;
			-moz-transition-property: -moz-transform, opacity;
			-webkit-transition-property: -webkit-transform, opacity;
			@include transition-duration(.4s, 0);
			@include transition-delay(0, .228s);

			body.nav-open & {
				@include transform(scaleX(1));
				opacity: 1;
				@include transition-delay(.4s, .5s);
			}
		}

		> h1 {
			@include replace-text('logo/ECE-invert.png');
			transition-property: transform;
			-o-transition-property: -o-transform;
			-ms-transition-property: -ms-transform;
			-moz-transition-property: -moz-transform;
			-webkit-transition-property: -webkit-transform;
			@include transition-duration(.5s);
			@include transition-delay(.3s);
			background-color: $black;
			background-size: 72%;
			display: block;
			position: absolute;
			@include z-index(nav_logo);
			top: 0;
			left: 0;
			width: $mobile-logo-height;
			height: $mobile-logo-height;
			margin: 0;
			cursor: pointer;
			transform: translateY(0);
			-o-transform: translateY(0);
			-ms-transform: translateY(0);
			-moz-transform: translateY(0);
			-webkit-transform: translateY(0);
		}

		> h1.disabled {
			cursor: disabled;
		}

		ul {
			display: block;
			position: relative;
			@include z-index(nav_content);
			overflow: visible;
			margin: 12px 16px 12px $mobile-logo-height;
			padding: 0 0 12px 0;

			li {
				// @include transition-property(opacity);
				// @include transition-duration(.5s);
				// @include transition-delay(0);
				// opacity: 0;
				position: relative;
				@include z-index(nav_content);
				overflow: visible;
				z-index: 10;

				&::after {
					content: " ";
					display: block;
					width: 100%;
					height: 1px;
					background-color: rgba($white, .23);
					opacity: 0;
					@include transition-property(opacity);
					@include transition-duration(.5s);
				}

				&:last-of-type::after {
					content: none;
				}

				a {
					@include transition-property(opacity, transform);
					@include transition-duration(.5s, .5s);
					@include transition-delay(0, 1s);
					@include translateX(20px);
					position: relative;
					@include z-index(nav_content);
					overflow: hidden;
					opacity: 0;
					padding: 0 8px;
				}

				&:first-of-type a::before {
					content: " ← ";
					display: inline-block;
					position: absolute;
					@include z-index(nav_content);
					left: -24px;
					@include opacity(.4);
					@include transition-property(transform);
					@include transition-duration(.5s);
					@include translateX(-20px);
				}
			}
		}

		.copyright {
			display: block;
			position: absolute;
			@include z-index(nav_content);
			right: 0;
			bottom: 0;
			font-size: 12px;
			line-height: 12px;
			padding: 5px 6px;
			color: $white;
			opacity: 0;
			@include transition-property(opacity);
			@include transition-duration(.5s);
			@include transition-delay(.5s);
		}

		body.nav-open & {
			max-width: 300px;
			max-height: 640px;
			@include transition-delay(0);

			a {
				pointer-events: all;
			}

			h1 {
				@include transition-delay(0);
			}

			ul {

				li {

					&::after {
						opacity: 1;
					}

					a {
						@include translateX(0);
						opacity: 1;
						overflow: visible;
					}

					&:first-of-type a::before {
						@include translateX(0);
					}
				}

				@for $i from 1 through 100 {

					li:nth-child(#{$i}){

						&::after {
							@include transition-delay(($i*$i+$i)/100 + .8 + s, ($i*$i+$i)/100 + .8 + s);
						}

						a, a::before {
							@include transition-delay(($i*$i+$i)/100 + .5 + s, ($i*$i+$i)/100 + .5 + s);
						}
					}
				}
			}

			.copyright {
				opacity: .4;
				@include transition-delay(1.2s);
			}
		}

		a {
			color: $white;
			line-height: $base-line-height * 1.5;
		}

		// &:after {
		// 	content: "台科電資";
		// 	display: block;
		// 	position: absolute;
		// 	bottom: 0;
		// 	right: - ($mobile-logo-height - 16)*4 - 12;
		// 	font-size: $mobile-logo-height - 16;
		// 	line-height: $mobile-logo-height;
		// }
	}

	// @media (max-width: 400px) {

	// 	&:after {
	// 		right: - ($mobile-logo-height - 16)*4 + 20;
	// 		font-size: $mobile-logo-height - 24;
	// 		line-height: $mobile-logo-height;
	// 	}
	// }

	// ----- Tablet + ----- //
	@include respond-to($tablet-min-width) {

		margin-top: strip-units($header-height) % strip-units($base-line-height) + $base-line-height*1.5;
		margin-bottom: 0;
		max-width: auto;
		max-height: auto;

		> h1 {
			display: none;
		}

		ul {
			padding: $base-line-height 0;
			display: block;
			margin-left: 0;
			margin-bottom: 0;
			padding-left: 0;
			padding-right: 0;
			padding-top: 0;
			padding-bottom: 0;
			background-color: transparent;
			top: 0;
			left: 0;

			li {
				opacity: 1;
			}

			&::after {
				display: none;
			}
		}

		li {
			height: 60px - ($base-line-height/4 + 7)/3*2;
			margin-bottom: ($base-line-height/4 + 7)/3*2;
		}

		a {
			width: 100%;
			height: 100%;
			font-size: 20px;
			color: $base-link-color;
			line-height: $base-line-height;
			padding: 2px 18px;
			margin: 0;
			position: relative;
			font-family: "xingothic-tc-w6", "xingothic-tc-w4";
			@include transition-property(background-color, text-shadow);
			@include transition-duration(.1s, 0);
			@include ellipsis;

			small {
				display: block;
				bottom: 5px;
				padding: 0 1px;
				font-size: 12px;
				line-height: 6px;
				font-family: "xingothic-tc-w3";
			}

			&::before {
				content: " ";
				background-color: $red;
				opacity: 0;
				@include transition-property(opacity, width);
				@include transition-duration(.2s, .2s);
				@include transition-delay(.4s, .4s);
				width: 0;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
			}

			&.cross-domin::before {
				background-color: $green;
			}

			&:hover {
				background-color: rgba(0,0,0, .1);
			}

			&:hover::before, &.active::before {
				opacity: 1;
				width: 4px;
			}
		}

		.active a::before {
			opacity: 1;
			width: 4px;
		}
	}

	// ----- Only on Tablet ----- //
	@media (max-width: $desktop-min-width) and (min-width: $tablet-min-width) {
		@include z-index(navtwo);

		li, li * {
			@include text-shadow(0 0 12px rgba($black, 1));
			color: darken($white, 20%);
		}

		li.active, li.active * {
			color: darken($white, 10%);
		}

		li {
			position: relative;
			overflow: visible;
		}

		li::after, li:not(.cross-domin) + .cross-domin::before {
			content: " ";
			display: block;
			position: absolute;
			@include z-index(shadow);
			top: -6px;
			left: 0;
			width: 200%;
			height: 1px;
			// background-color: $white;
			@include background-image(linear-gradient(left, rgba($white, 0) 0%, rgba($white, .5) 100%));
		}

		li:not(.cross-domin) + .cross-domin {
			margin-top: 16px;

			&::before {
				margin-top: -5px;
			}
		}

		li:first-of-type::after {
			content: none;
			display: none;
		}
	}

	// ----- Desktop + ----- //
	@include respond-to($desktop-min-width) {

		margin-left: -0.2em;
		margin-top: 35px;
		@include background-image(linear-gradient(right, rgba(0,0,0, .1) 0%, rgba($base-bgc, 0) 23px));
		background-repeat: no-repeat;
		border-right: 1px solid rgba(0,0,0, .23);

		ul {
			position: relative;
			margin-right: -1px;
			padding-top: 30px;
			padding-bottom: 72px;
			@include background-image(linear-gradient(top, $base-bgc 0%, rgba($base-bgc, 0) 32px), linear-gradient(bottom, $base-bgc 0%, rgba($base-bgc, 0) 70px));
			background-repeat: no-repeat;

			li {
				display: block;
				position: relative;
				@include z-index(nav_content);
			}

			li:not(.cross-domin) + .cross-domin {

				overflow: visible;
				margin-top: 20px;

				&::before{
					content: " ";
					display: block;
					position: absolute;
					top: -12px;
					width: 100%;
					height: 20px;
					@include background-image(radial-gradient(right top, farthest-side, rgba(0,0,0, .1), rgba($base-bgc, 0)));
					@include background-image(radial-gradient(right top, farthest-side, rgba(0,0,0, .1), rgba($base-bgc, 0)), linear-gradient(right, rgba(0,0,0, .07) 0%, rgba($base-bgc, 0) 100%));
					background-repeat: no-repeat;
					@include background-size(100% 100%, 100% 1px);
				}
			}

			li.active {
				overflow: visible;
				border: 1px solid rgba(0,0,0, .2);
				@include box-shadow(-1px 0 4px rgba(0,0,0, .2));

				a {
					color: $black;
					background-color: $base-bgc;
					border-right: none;
					left: 0;
					width: 108%;
					width: calc(100%+4px);
				}
			}

			// .a {
			// 	display: block;
			// 	position: absolute;
			// 	top: 0;
			// 	right: 0;
			// 	@include z-index(shadow);
			// 	height: 100%;
			// 	width: 100%;
			// 	overflow: visible;
			// }
		}
	}
}

// ----- 萬惡的 Windows ----- //
.windows nav.main-menu, html:lang(zh) nav.main-menu, html:lang(jp) nav.main-menu {

	a, li {
		font-family: "xingothic-tc-w4", "微軟正黑體" !important;
	}
}
