%nav.footer-nav
  %h1 Footer Navigation
  %ul
    = partial "partials/nav"
    %li
      %a{:href => 'https://www.facebook.com/GuoLiTaiWanKeJiDaXueDianZiXueShiBanXiXueHui', :target => '_blank'}
        %small.icon Facebook
    %li
      %a{:href => 'https://github.com/NTUST-ECE/', :target => '_blank'}
        %small.icon GitHub

%article.about{'itemscope' => '', 'itemtype' => 'http://data-vocabulary.org/Organization'}
  %h1{'itemprop' => 'name'} 國立臺灣科技大學電資學士班
  %p{'itemprop' => 'address', 'itemscope' => '', 'itemtype' => 'http://data-vocabulary.org/Address'}
    %span{'itemprop' => 'country-name'} 臺灣
    %span{'itemprop' => 'postal-code'} 106
    %span{'itemprop' => 'region'} 台北市
    %span{'itemprop' => 'street-address'} 大安區基隆路四段 43 號 電資館&nbsp;
    %a.icon{'href' => 'https://www.google.com/maps/place/國立臺灣科技大學/@25.0120794,121.5415972', 'target' => '_blank', 'itemprop' => 'geo', 'itemscope' => '', 'itemtype' => 'http://data-vocabulary.org/Geo'}
      location
      %meta{'itemprop' => 'latitude', 'content' => '25.0120794'}
      %meta{'itemprop' => 'longitude', 'content' => '121.5415972'}
  %p{'itemprop' => 'url'} ece.ntust.co

.copyright
  %p
    ©
    %span= Time.now.year
    ECE. All rights reserved.
  %p Photo Credits belongs to respective owners.
  %p Copy right of the Navy pattern from subtlepatterns.com belongs to Ethan Hamilton.

.fb-likebox= partial "partials/fb-likeBox"

.links
  %a.icon Facebook
  %a.icon +Google+
  %a.icon GitHub
