-data.heroes.each do |item|
  -data_link = item.link
  -data_link = '#' if !data_link
  .item{:style => 'display: none; background-image: url(\'/' + images_dir.to_s + '/' + item.img + '\')', 'data-link' => item.link}
    .inner
      .title
        .text= item.title
      .sub-title
        .text= item.subTitle
      -if item.credit
        .credit
          .text= item.credit
      -if item.link
        .link
          .text= item.link
