// *************************************
//
//   Content
//   -> Typography
//
// *************************************

// -------------------------------------
//   Vertical Rhythm
// -------------------------------------

@include establish-baseline;

// -------------------------------------
//   Headings & Paragraph & ...
// -------------------------------------

@include selection($warm-white, $warm-black);

body {
	font-family: "xingothic-tc-w4", "蘋果儷中黑", "微軟正黑體", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p, blockquote, code, dl, ol, ul {
	@include rhythm-to(0, 0, 0, 1, 17px);
}

#{headings()}, p {
	@include transition(opacity .3s);
}

#{headings(1,2)} {
	overflow: hidden;
	font-family: "xingothic-tc-w8";
}

#{headings(3,6)} {
	overflow: hidden;
	font-family: "xingothic-tc-w6";
}

h1, %c-h1 {
	@include rhythm-to(0, 0, 0, 1, 48px);
}

h2, %c-h2 {
	@include rhythm-to(1, 0.5, 0.5, 0, 36px);

	&:first-child {
		@include margin-leader(0);
	}
}

h3, %c-h3 {
	@include rhythm-to(0, 0.5, 0.5, 0, 30px);
}

h4, %c-h4 {
	@include rhythm-to(0, 0.5, 0.5, 0, 24px);
}

h5, %c-h5 {
	@include rhythm-to(0, 0.5, 0.5, 0, 20px);
}

h6, %c-h6 {
	@include rhythm-to(0, 0.5, 0.5, 0, 20px);
}

@media only screen and (max-width: $phone-min-width) {

	p, blockquote, code, dl, ol, ul {
		@include rhythm-to(0, 0, 0, 1, 15px);
	}

	h1, %c-h1 {
		@include rhythm-to(0, 0, 0, 1, 36px);
	}

	h2, %c-h2 {
		@include rhythm-to(1, 0.5, 0.5, 0, 30px);

		&:first-child {
			@include margin-leader(0);
		}
	}

	h3, %c-h3 {
		@include rhythm-to(0, 0.5, 0.5, 0, 24px);
	}

	h4, %c-h4 {
		@include rhythm-to(0, 0.5, 0.5, 0, 20px);
	}

	h5, %c-h5 {
		@include rhythm-to(0, 0.5, 0.5, 0, 16px);
	}

	h6, %c-h6 {
		@include rhythm-to(0, 0.5, 0.5, 0, 16px);
	}
}

blockquote {
	margin-bottom: 0;
	border-left: 5px solid $warm-black;
	font-family: "datf3";

	p {
		font-size: 1rem;
	}
}

strong {
	font-family: "xingothic-tc-w6";
}

code, .code, .content-box, %content-box {
	overflow: scroll;
	background-image: linear-gradient(to right,#f0f2f0 12.5%,rgba(240,242,240,0)),linear-gradient(to right,rgba(240,242,240,0),#f0f2f0 87.5%),radial-gradient(farthest-side at 0 50%,rgba(153,153,153,0.3),rgba(153,153,153,0)),radial-gradient(farthest-side at 100% 50%,rgba(153,153,153,0.3),rgba(153,153,153,0));
}

p.img {
	text-align: center;
	color: lighten($base-color, 20%);
	line-height: 36px;
}

.pull-left.text, .pull-right.text {
	@include rhythm-to(0, 0.5, 0.5, 0, $base-font-size*2);
	color: $red;
	@include selection($warm-white, $red);
	padding-bottom: 0;
}

.pull-left {
	@include respond-to($desktop-min-width) {
		text-align: right;
	}
}

.poem-like, %poem-like {
	font-family: "datf3";
}

// -------------------------------------
//   Utilities
// -------------------------------------

%c-center, .c-center {
	text-align: center;
}

%c-condense, .c-condense {
	font-size: 85%;
}

%c-lead, .c-lead {
	font-size: 125%;
}

%c-shout, .c-shout {
	text-transform: uppercase;
}
