// *************************************
//
//   Content
//   -> Typography
//
// *************************************

// -------------------------------------
//   Vertical Rhythm
// -------------------------------------

$base-font-size: 20px;
$base-line-height: $base-font-size * 3/2;

@include establish-baseline;

// -------------------------------------
//   Headings & Paragraph & ...
// -------------------------------------

#{headings()}, p {
	@include transition(opacity .3s);
}

body {
	@include selection($warm-white, $warm-black);
}

p, blockquote, code, dl, ol, ul {
	@include rhythm-to(0, 0, 0, 1, 17px);
}

blockquote {
	p {
		font-size: 1rem;
	}
	margin-bottom: 0;
}

h1, %c-h1 {
	@include rhythm-to(0, 0, 0, 1, 48px);
}

h2, %c-h2 {
	@include rhythm-to(1, 0.5, 0.5, 0, 36px);

	&:first-child {
		@include margin-leader(0);
	}
}

h3, %c-h3 {
	@include rhythm-to(0, 0.5, 0.5, 0, 30px);
}

h4, %c-h4 {
	@include rhythm-to(0, 0.5, 0.5, 0, 24px);
}

h5, %c-h5 {
	@include rhythm-to(0, 0.5, 0.5, 0, 20px);
}

h6, %c-h6 {
	@include rhythm-to(0, 0.5, 0.5, 0, 20px);
}

.pull-left.text, .pull-right.text {
	@include rhythm-to(0, 0.5, 0.5, 0, $base-font-size*2);
}

// ----- Font ----- //

body {
	font-family: "xingothic-tc-w4", "蘋果儷中黑", "微軟正黑體", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

strong {
	font-family: "xingothic-tc-w6";
}

#{headings(1,2)} {
	overflow: hidden;
	font-family: "xingothic-tc-w8";
}

#{headings(3,6)} {
	overflow: hidden;
	font-family: "xingothic-tc-w6";
}

.poem-like, %poem-like {
	font-family: "datm5";
}

// -------------------------------------
//   Utilities
// -------------------------------------

%c-center, .c-center {
	text-align: center;
}

%c-condense, .c-condense {
	font-size: 85%;
}

%c-lead, .c-lead {
	font-size: 125%;
}

%c-shout, .c-shout {
	text-transform: uppercase;
}
