// *************************************
//
//   Layout
//   -> Margin, Padding, Sizing
//
// *************************************

// -------------------------------------
//   Susy Gird Config
// -------------------------------------

$total-columns: 5;
$tablet-columns: 10;
$desktop-columns: 12;
$large-desktop-columns: 12;
$column-width: 5em;
$gutter-width: 1.8em;
$grid-padding: 1em;

$tablet: $tablet-min-width $tablet-columns;
// => if (min-width $tablet-min-width) tablet -> use $tablet-columns
$desktop: $desktop-min-width $desktop-columns;
// => if (min-width $desktop-min-width) desktop -> use $desktop-columns

// -------------------------------------
//   Base
//   -> body, body wrapper
// -------------------------------------

body {
	cursor: auto;
	position: relative;
	height: auto;
	margin: 0;
	padding: 0;
	min-height: 100%;
	overflow-x: hidden;

	// Warp all elements in a div
	> div {
		position: relative;
		width: 100%;
		overflow-x: hidden;
	}

	* {
		@include transition-duration(.1s);
	}
}

// -------------------------------------
//   Composition
//   -> header, footer, nav, content
// -------------------------------------

.container {
	@include container($total-columns, $tablet, $desktop);
	@include pie-clearfix;
	position: relative;

	// ----- Tablet + ----- //
	@include at-breakpoint($tablet) {

		header, footer {
			@include span-columns($tablet-columns);
		}

		footer {
			position: relative;
			z-index: 2;

			> * {
				position: relative;
				z-index: 10;
			}
		}

		nav {
			@include span-columns(2);

			position: relative;
			z-index: 10;
		}

		.content {
			@include span-columns(8 omega);
		}
	}

	// ----- Desktop + ----- //
	@include at-breakpoint($desktop) {

		max-width: $container-maxWidth;

		header, footer {
			@include span-columns($desktop-columns);
		}

		nav {
			@include span-columns(2);
		}

		.content {
			@include span-columns(9 omega);
			@include suffix(1);
			@include post(1);
		}
	}

	// ----- XXL Desktop + ----- //
	@include respond-to($very-large-desktop-min-width) {

		margin-left: 14.4%;
	}
}

// -------------------------------------
//   Header
//   -> 頭
// -------------------------------------

@import "layouts/header";

// -------------------------------------
//   Footer
//   -> 腳
// -------------------------------------

@import "layouts/footer";

// -------------------------------------
//   Nav
//   -> 導覽
// -------------------------------------

@import "layouts/nav";

// -------------------------------------
//   Content
//   -> 內文排版
// -------------------------------------

@import "layouts/content";

// -------------------------------------
//   Hero
//   -> 英雄
// -------------------------------------

@import "layouts/hero";

// -------------------------------------
//   Off-Canvas
// -------------------------------------

.off-canvas {

	// @include perspective(1000px);
	height: 100vh;
	overflow: hidden;

	.container {
		position: absolute;
		margin-left: 300px;
		width: 100vw;
		// @include transform(rotateY(20deg));
	}

	nav {
		position: absolute;
	}
}
