// *************************************
//
//   Layout
//   -> Margin, Padding, Sizing
//
// *************************************

// -------------------------------------
//   Susy Gird
// -------------------------------------

$total-columns: 5;
$tablet-columns: 8;
$desktop-columns: 12;
$large-desktop-columns: 12;
$column-width: 5em;
$gutter-width: 1.5em;
$grid-padding: 1em;

$tablet: $tablet-min-width $tablet-columns;
// => if (min-width $tablet-min-width) tablet -> use $tablet-columns
$desktop: $desktop-min-width $desktop-columns;
// => if (min-width $desktop-min-width) desktop -> use $desktop-columns

// -------------------------------------
//   Composition
// -------------------------------------

// ----- Body ----- //

body {
	cursor: auto;
	height: auto;
	margin: 0;
	padding: 0;

	// @if $debug == true {
	// 	&:hover {
	// 		@include baseline-grid-background;
	// 		> .container { @include susy-grid-background; }
	// 	}
	// }
}

// ----- Container ----- //

.container {
	@include container($total-columns, $tablet, $desktop);
	@include pie-clearfix;

	@include at-breakpoint($tablet) {

		.main-menu {
			@include span-columns(2);
			@include nth-omega(2n);
		}

		.content {
			@include span-columns(6 omega);
		}
	}

	@include at-breakpoint($desktop) {

		.main-menu {
			@include span-columns(2);
		}

		.content {
			@include span-columns(9 omega);
			@include suffix(1);
			@include post(1);

			.pull-left.box {
				position: relative;
				@include span-columns(5, 8);
				margin-left: - space(1, 8);
			}

			.pull-right.box {
				position: relative;
				@include span-columns(5, 8);
				@include omega;
				margin-right: - space(1, 8);
			}

			.pull-left.text {
				position: relative;
				@include span-columns(4, 8);
				margin-left: - space(1, 8);
			}

			.pull-right.text {
				position: relative;
				@include span-columns(4, 8);
				@include omega;
				margin-right: - space(1, 8);
			}
		}
	}
}

// -------------------------------------
//   Bucket
// -------------------------------------

.l-bucket {}

// -------------------------------------
//   Card
// -------------------------------------

.l-card {}

// -------------------------------------
//   Cell
// -------------------------------------

%l-cell, .l-cell {
	margin: 0 auto;
	max-width: rem($l-maxWidth);
	padding: 0 rem(60px);
}

// -------------------------------------
//   Grid
// -------------------------------------

.l-grid {}

.l-grid-box {}

// -------------------------------------
//   Row
// -------------------------------------

.l-row {}

// -------------------------------------
//   Utilities
// -------------------------------------

%l-block, .l-block {
	display: block;
}

%l-condense, .l-condense {
	margin-bottom: rem($base-whitespace / 2);
}

%l-pullLeft, .l-pullLeft {
	float: left;
}

%l-pullRight, .l-pullRight {
	float: right;
}

%l-space, .l-space {
	margin-bottom: rem($base-whitespace);
}

%l-xspace, .l-xspace {
	margin-bottom: rem($base-whitespace * 2);
}
