// *************************************
//
//   Layout
//   -> Margin, Padding, Sizing
//
// *************************************

// -------------------------------------
//   Susy Gird & Vertical Rhythm
// -------------------------------------

$total-columns  : 5;
$column-width   : 5em;
$gutter-width   : 1.5em;
$grid-padding   : 1em;

$tablet: 641px 8;  // if (min-width 641px) tablet -> use 8 columns
$desktop: 941px 12; // if (min-width 941px) desktop -> use 12 columns

// -------------------------------------
//   Composition
// -------------------------------------

// ----- Body ----- //

body {
	cursor: auto;
	height: auto;
	margin: 0;
	padding: 0;

	// @if $debug == true {
	// 	&:hover {
	// 		@include baseline-grid-background;
	// 		> .container { @include susy-grid-background; }
	// 	}
	// }
}

// ----- Container ----- //

.container {
	@include container($total-columns, $tablet, $desktop);
	@include pie-clearfix;

	@include at-breakpoint($tablet) {

		.main-menu {
			@include span-columns(2);
			@include nth-omega(2n);
		}

		.content {
			@include span-columns(6 omega);
		}
	}

	@include at-breakpoint($desktop) {

		.main-menu {
			@include span-columns(2);
			@include nth-omega(2n);
		}

		.content {
			@include span-columns(9 omega);
			@include post(1);
		}
	}
}

// ----- Container ----- //

.content {

	@include at-breakpoint($desktop) {

		.box.pull-left {
			@include span-columns(3);
			@include pull(1);
		}
		.box.pull-right {
			@include span-columns(3);
			@include pull(-1);
		}
	}
}

// ----- Grid debug ----- //

@if $debug == true {

	head {
		display: block;
		position: fixed;
		right: 10px;
		bottom: 10px;
		z-index: 9999;
		color: #333;
		background-color: rgba(255, 255, 255, 0.25);
	}

	head::before {
		content: "‖‖";
		display: block;
		padding: 8px 6px;
		padding-right: 16px;
		font-family: sans-serif;
		font-size: 16px;
		font-weight: bold;
		letter-spacing: -10px;
	}

	head:hover::before {
		@if variable-exists(red) {
			color: $red;
		} @else {
			color: #a00;
		}
	}

	head:hover ~ body {
		@include baseline-grid-background;

		.container {
			@include susy-grid-background;
			@include at-breakpoint($tablet) {
				@include susy-grid-background;
			}
			@include at-breakpoint($desktop) {
				@include susy-grid-background;
			}
		}
	}
}


// -------------------------------------
//   Bucket
// -------------------------------------

.l-bucket {}

// -------------------------------------
//   Card
// -------------------------------------

.l-card {}

// -------------------------------------
//   Cell
// -------------------------------------

%l-cell, .l-cell {
	margin: 0 auto;
	max-width: rem($l-maxWidth);
	padding: 0 rem(60px);
}

// -------------------------------------
//   Grid
// -------------------------------------

.l-grid {}

.l-grid-box {}

// -------------------------------------
//   Row
// -------------------------------------

.l-row {}

// -------------------------------------
//   Utilities
// -------------------------------------

%l-block, .l-block {
	display: block;
}

%l-condense, .l-condense {
	margin-bottom: rem($base-whitespace / 2);
}

%l-pullLeft, .l-pullLeft {
	float: left;
}

%l-pullRight, .l-pullRight {
	float: right;
}

%l-space, .l-space {
	margin-bottom: rem($base-whitespace);
}

%l-xspace, .l-xspace {
	margin-bottom: rem($base-whitespace * 2);
}
