<div class="saview samember">
	<img src="https://googledrive.com/host/0B_2OXPjedsZNSEhCUnV3SmNJYlE" style="margin-top:-50px; " />
	<div class="samask">
		<p>古昊中</p>
		<p style="font-size: 1em;">副會長</p>
		<p style="font-size: 1em;">古昊中出沒注意</p>
	</div>  
</div>
<div class="saview samember">
	<img src="https://googledrive.com/host/0B_2OXPjedsZNRHZvVE03WUtmS0E" />
	<div class="samask">
		<p>林哲維</p>
		<p style="font-size: 1em;">會長</p>
		<p style="font-size: 1em;">樓下一堆文青</p>
	</div>  
</div> 
<div class="fake-saview">
		<img src="https://googledrive.com/host/0B_2OXPjedsZNdkdMLWQ0b2pHUTg" style="height:180px; margin-top:50px;"/>
</div>
<div class="fake-saview">
		<img src="https://googledrive.com/host/0B_2OXPjedsZNNzFyX09XWW1LNGc" style=margin-top:-20px;"/>
</div>
<div class="saview samember">
	<img src="https://googledrive.com/host/0B_2OXPjedsZNLXd5T0c4OElDNG8" style="margin-top:20px;"/>
	<div class="samask">
		<p>許雅荃</p>
		<p style="font-size: 1em;">女公關</p>
		<p style="font-size: 1em;">簡單就好</p>
	</div>  
</div> 
<div class="saview samember">
	<img src="https://googledrive.com/host/0B_2OXPjedsZNSmV0ejE3U3hLVW8" />
	<div class="samask">
		<p>何忠穎</p>
		<p style="font-size: 1em;">男公關</p>
		<p style="font-size: 1em;">三圍 20/20/20 </p>
	</div>  
</div> 
<div class="saview samember">
	<img src="https://googledrive.com/host/0B_2OXPjedsZNNHBBZ0ZqSUtSYjQ" />
	<div class="samask">
		<p>蔡至朔</p>
		<p style="font-size: 1em;">秘書長</p>
		<p style="font-size: 1em;">一步一步似爪牙</p>
	</div>  
</div> 
<div class="saview samember">
	<img src="https://googledrive.com/host/0B_2OXPjedsZNRUl3OW1HeFI3WEk" />
	<div class="samask">
		<p>徐希平</p>
		<p style="font-size: 1em;">活動長</p>
		<p style="font-size: 1em;">天真無邪，天下無敵</p>
	</div>  
</div> 
<div class="saview samember">
	<img src="https://googledrive.com/host/0B_2OXPjedsZNbzE3WEN0RjZuaVk" />
	<div class="samask">
		<p>黎彥彣</p>
		<p style="font-size: 1em;">總務長</p>
		<p style="font-size: 1em;">船到橋頭自然直</p>
	</div>  
</div> 
<div class="saview samember">
	<img src="https://googledrive.com/host/0B_2OXPjedsZNOEpJTU1JemNnZVU" />
	<div class="samask">
		<p>趙浚宏</p>
		<p style="font-size: 1em;">資訊長</p>
		<p style="font-size: 1em;">喧嘩上等 宿題下等</p>
	</div>  
</div> 
<div class="fake-saview">
		<img src="https://googledrive.com/host/0B_2OXPjedsZNTkV1alV4LW5Vbmc" style=""/>
</div>
<div class="fake-saview">
		<img src="https://googledrive.com/host/0B_2OXPjedsZNTWIxakZscW9XUFE" style="margin-top:-30px;"/>
</div>
<div class="saview samember">
	<img src="https://googledrive.com/host/0B_2OXPjedsZNWkxna0dkWlRYb2M" />
	<div class="samask">
		<p>黃柏程</p>
		<p style="font-size: 1em;">體育長</p>
		<p style="font-size: 1em;">似魔鬼的步伐</p>
	</div>  
</div>
<div class="saview samember">
	<img src="https://googledrive.com/host/0B_2OXPjedsZNOXFrb3NSTHdKbm8" />
	<div class="samask">
		<p>張修齊</p>
		<p style="font-size: 1em;">場器長</p>
		<p style="font-size: 1em;">我現在相當的困惑</p>
	</div>  
</div>
<div class="saview samember">
	<img src="http://image.cdn.05wan.com/images/05wanCQGD/%E5%90%95%E5%B8%83%E5%89%AF%E6%9C%AC.jpg" />
	<div class="samask">
		<p>塗沛宬</p>
		<p style="font-size: 1em;">美宣長</p>
		<p style="font-size: 1em;">圖片僅供參考</p>
	</div>  
</div>
