<div class="saview samember">
	<img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xpf1/v/t1.0-9/11026002_338982572977671_6066327989324908645_n.jpg?oh=470ad9c5a130ee8d6efeb64275e8da1e&oe=5595192F&__gda__=1434442821_17c04763eab15861299a5dabaaf69dc8" style="margin-top:-50px; " />
	<div class="samask">
		<p>古昊中</p>
		<p style="font-size: 1em;">副會長</p>
		<p style="font-size: 1em;">古昊中出沒注意</p>
	</div>  
</div>
<div class="saview samember">
	<img src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/11049500_338982469644348_7322196703145491633_n.jpg?oh=cd0181b6fc0f1214c2c9d37854876be7&oe=558EE9A9&__gda__=1434464885_87c909cff8300b02f83e7fd47ea7ac1b" />
	<div class="samask">
		<p>林哲維</p>
		<p style="font-size: 1em;">會長</p>
		<p style="font-size: 1em;">樓下一堆文青</p>
	</div>  
</div> 
<div class="fake-saview">
		<img src="https://scontent.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/1509312_338915342984394_827534597327013644_n.jpg?oh=323ee33b3c568a12b9e5b3fd35349628&oe=558E08EC" style="height:180px; margin-top:50px;"/>
</div>
<div class="fake-saview">
		<img src="https://scontent-tpe.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/11022565_339035172972411_683795506254584857_n.jpg?oh=0d8d5f325db40cbc9a26fa9a26fbe680&oe=55741549" style=margin-top:-20px;"/>
</div>
<div class="saview samember">
	<img src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/11039841_338997622976166_9134251739092459259_n.jpg?oh=d6861900b33740ce2c721abf05c678eb&oe=5590D441&__gda__=1433942173_c0a5fe5ff53dd92a12e254e7f1922952" style="margin-top:20px;"/>
	<div class="samask">
		<p>許雅筌</p>
		<p style="font-size: 1em;">女公關</p>
		<p style="font-size: 1em;">Sophie   :D</p>
	</div>  
</div> 
<div class="saview samember">
	<img src="https://scontent-tpe.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/11050229_338982566311005_4515360465210101278_n.jpg?oh=fdc75da631c7998c87b865ea94ce9d54&oe=558A0245" />
	<div class="samask">
		<p>何忠穎</p>
		<p style="font-size: 1em;">男公關</p>
		<p style="font-size: 1em;">三圍 20/20/20 </p>
	</div>  
</div> 
<div class="saview samember">
	<img src="https://scontent-tpe.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/11022635_338999546309307_2626503140791984016_n.jpg?oh=9436733ce02ba47b2df027eaa6e876db&oe=558FAF47" />
	<div class="samask">
		<p>蔡至朔</p>
		<p style="font-size: 1em;">秘書長</p>
		<p style="font-size: 1em;">一步一步似爪牙</p>
	</div>  
</div> 
<div class="saview samember">
	<img src="https://scontent-tpe.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/10393978_338982589644336_8956919781246856048_n.jpg?oh=714e829a77f0afdb8c72ee396dfbcaba&oe=5591D81C" />
	<div class="samask">
		<p>徐希平</p>
		<p style="font-size: 1em;">活動長</p>
		<p style="font-size: 1em;">天真無邪，天下無敵</p>
	</div>  
</div> 
<div class="saview samember">
	<img src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/11051777_338982599644335_3453340703204022643_n.jpg?oh=575de6ba1aa69e5b92693208c84e5b98&oe=5583EC00&__gda__=1435746232_74c6033149d6df208eab6fbf34f966ff" />
	<div class="samask">
		<p>黎彥彣</p>
		<p style="font-size: 1em;">總務長</p>
		<p style="font-size: 1em;">船到橋頭自然直</p>
	</div>  
</div> 
<div class="saview samember">
	<img src="https://scontent-tpe.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/10537102_338983132977615_6809554718425656227_n.jpg?oh=4cf43926bfea75c322ccce1ba201cce4&oe=55925ECE" />
	<div class="samask">
		<p>趙浚宏</p>
		<p style="font-size: 1em;">資訊長</p>
		<p style="font-size: 1em;">Pollo o Pavone</p>
	</div>  
</div> 
<div class="fake-saview">
		<img src="https://scontent-tpe.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/11050286_339035086305753_6378573690775550862_n.jpg?oh=eb29ab511cf85d158493f4aaf65e5c53&oe=559338B1" style=""/>
</div>
<div class="fake-saview">
		<img src="https://scontent-nrt.xx.fbcdn.net/hphotos-xaf1/l/t31.0-8/s960x960/11043357_339029492972979_6032871036756535214_o.jpg" style="margin-top:-30px;"/>
</div>
<div class="saview samember">
	<img src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xfa1/v/t1.0-9/11043080_338982472977681_1694127758423239436_n.jpg?oh=b5dd187a61490fa86aa03790e68a010b&oe=5586D08C&__gda__=1433693114_ee3bf224506ce33baba3a047f5a6b65d" />
	<div class="samask">
		<p>黃柏程</p>
		<p style="font-size: 1em;">體育長</p>
		<p style="font-size: 1em;">似魔鬼的步伐</p>
	</div>  
</div>
<div class="saview samember">
	<img src="https://scontent-tpe.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/11037640_338982502977678_1077964727073222670_n.jpg?oh=3d577380cecd1a5f463ce2d7c450b296&oe=557562F6" />
	<div class="samask">
		<p>張修齊</p>
		<p style="font-size: 1em;">場器長</p>
		<p style="font-size: 1em;">我現在相當的困惑</p>
	</div>  
</div>
<div class="saview samember">
	<img src="http://image.cdn.05wan.com/images/05wanCQGD/%E5%90%95%E5%B8%83%E5%89%AF%E6%9C%AC.jpg" />
	<div class="samask">
		<p>塗沛宬</p>
		<p style="font-size: 1em;">美宣長</p>
		<p style="font-size: 1em;">圖片僅供參考</p>
	</div>  
</div>
