// *************************************
//
//   Nav
//   -> Main Navigation
//
// *************************************

nav, html:lang(zh) nav, html:lang(jp) nav {

	> ul {
		margin: 0;
		padding: 0;
	}

	li {
		list-style: none;
	}

	li, a {
		@include ellipsis;
	}
}

// -------------------------------------
//   Modifiers
// -------------------------------------

// .module--modifier

// -------------------------------------
//   States
// -------------------------------------

// .is-module-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-module

// -------------------------------------
//   Submodules
// -------------------------------------

// ----- Submodule ----- //

// .module-submodule
