// *************************************
//
//   Nav
//   -> Main Navigation
//
// *************************************

nav.main-menu, html:lang(zh) nav.main-menu, html:lang(jp) nav.main-menu {

	> ul {
		margin: 0;
		padding: 0;
	}

	li {
		list-style: none;
	}

	li, a {
		@include ellipsis;
		display: block;
	}

	> h1 {
		display: none;
	}

	@include respond-to($tablet-min-width) {

		ul {
			margin-top: $base-line-height/2*3 - 1px;
		}

		li {
			height: 60px;
		}

		a {
			width: 100%;
			font-size: 20px;
			line-height: $base-line-height;
			padding: $base-line-height/4 - 7 18px $base-line-height/4 + 7;
			margin: $base-line-height/4 0;
			position: relative;
			font-family: "xingothic-tc-w6";

			small {
				display: block;
				position: absolute;
				bottom: 5px;
				font-size: 12px;
				line-height: 12px;
				font-family: "xingothic-tc-w3";
			}

			&::before {
				content: " ";
				background-color: $red;
				opacity: 0;
				@include transition-duration(.2s);
				@include transition-delay(.3s);
				width: 4px;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
			}

			&:hover::before, &.active::before {
				opacity: 1;
			}
		}

		.active a::before {
			opacity: 1;
		}
	}

	@include respond-to($desktop-min-width) {

		ul {
			position: relative;

			&::after {
				content: " ";
				position: absolute;
				top: 0;
				right: 14px;
				width: 5px;
				height: 100%;
				border-left: 1px solid darken($base-bgc, 10%);
				border-right: 1px solid darken($base-bgc, 10%);
			}
		}
	}
}

// -------------------------------------
//   Modifiers
// -------------------------------------

// .module--modifier

// -------------------------------------
//   States
// -------------------------------------

// .is-module-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-module

// -------------------------------------
//   Submodules
// -------------------------------------

// ----- Submodule ----- //

// .module-submodule
