// *************************************
//
//   Articles with TimeLine Layout
//
// *************************************

.timeline-articles {
	$bgc: $base-bgc;
	$color: $base-bgc;
	border-left: 2px dotted darken($color, 20%);
	margin-left: $base-line-height*0.4;
	padding-left: $base-line-height*0.6;
	position: relative;

	.navigator {

		@include respond-to($desktop-min-width) {
			position: fixed;
			@include z-index(trigger);
			width: 120px;
			left: -120px;
			top: 30px;
			height: 100vh;
			overflow: auto;
			@include transition-property(left);
			@include transition-duration(.3s);
			@include transition-timing-function(ease-in);
			// @include opacity(.5);

			&.show {
				left: 0;
				@include transition-timing-function(ease-out);
			}

			li {
				list-style: none;
				display: block;
				position: relative;

				a {
					@include transition-property(none);
					color: darken($color, 24%);
				}

				&::before {
					content: "";
					display: block;
					position: absolute;
					width: 1px;
					height: 90%;
					top: 10%;
					left: -12px;
					background-color: darken($color, 24%);
					@include transition-property(all);
					@include transition-duration(.3s);
					@include transform-origin(left, center);
				}

				&.active {

					a {
						color: $base-link-color;
					}

					&::before {
						@include scaleX(3.8);
						background-color: darken($base-link-color, 24%);
					}
				}
			}
		}
	}

	.label {
		position: relative;
		left: -4.5px;
		font-style: italic;
		color: darken($color, 24%);

		&::before {
			content: "";
			display: block;
			position: absolute;
			left: -22px;
			top: 6.5px;
			width: 15px;
			height: 15px;
			border: 3px solid $bgc;
			@include rotate(45deg);
			background-color: darken($color, 20%);
		}

		@include respond-to($desktop-min-width) {
			display: block;
			width: 200px;
			left: -200px - $base-line-height;
			text-align: right;
			padding-right: 5px;

			&.not-raised {
				width: auto;
				top: 0;
				left: -4.5px;
				text-align: left;

				&::before {
					right: auto;
					left: -22px;
				}
			}

			&::before {
				left: auto;
				right: -18.5px;
			}

		}
	}

	.article {
		position: relative;

		a {

			> .title, .content {
				margin-left: 0;
				margin-right: 0;
				@include transition-property(margin-left, margin-right);
				@include transition-duration(.3s);
			}

			.non-touch &:hover {

				> .title, .content {
					margin-left: 12px;
					margin-right: -12px;
				}

				.date::before {
					left: -31px;
					top: 3px;
					width: 24px;
					height: 24px;
				}
			}
		}

		.date, a .date {
			display: block;
			@include rhythm-to(0, 0, 0, 0, $base-line-height*0.7);
			position: relative;
			top: - $base-line-height*2.5;
			color: darken($color, 72%);
			font-family: "xingothic-tc-w6", $base-fontFamily;

			&::before {
				content: "";
				display: block;
				position: absolute;
				left: -30px;
				top: 4px;
				width: 22px;
				height: 22px;
				@include border-radius(100px);
				border: 5px double $bgc;
				background-color: darken($color, 20%);
				@include transition-property(top, left, width, height);
				@include transition-duration(.3s);
			}
		}

		.title, a .title {
			display: block;
			@include rhythm-to(0, 0, 0, 0.5, $base-line-height*1.28);
			border-bottom: none;
			position: relative;
			top: $base-line-height;
			color: $black;
		}

		.content, a .content {
			color: $black;
		}
	}

	&::after {
		content: "";
		display: block;
		position: absolute;
		width: 4px;
		height: 80px;
		left: -3.5px;
		bottom: -2px;
		@include background-image(linear-gradient(top, rgba($bgc, 0) 0%, rgba($bgc, 1) 80%));
	}
}
